<mat-card *ngIf="currentWeather" class="weather-card mat-elevation-z4">
  <mat-card-title [ngClass]="{
    'blue-sky': currentWeather.weather[0].main === 'Clear' || currentWeather.weather[0].main === 'Clouds',
    'rainy-sky': currentWeather.weather[0].main !== 'Clear' && currentWeather.weather[0].main !== 'Clouds'
  }">
    <div class="weather-pic">
      <div [ngClass]="{
          'sun': currentWeather.weather[0].main === 'Clear',
          'rainy-cloud': currentWeather.weather[0].main === 'Rain',
          'white-cloud': currentWeather.weather[0].main === 'Clouds'
        }"></div>
    </div>
    <div class="city-name">
      <h2>
        {{ currentWeather.name }}, {{ currentWeather.sys.country }}
      </h2>
    </div>
  </mat-card-title>
  <mat-card-content class="weather-card__content">
    <div class="weather-info">
      {{ currentWeather.main.temp | convert }}
    </div>
    <div class="weather-info">
      {{ currentWeather.weather[0].description | titlecase }}
    </div>
    <div class="weather-info">
      {{ currentWeather.main.humidity }}%
    </div>
    <div class="weather-info">
      {{ currentWeather.wind.speed }}m/s
    </div>
  </mat-card-content>
</mat-card>
